.searchContainer {
  .searchTable {
    border-collapse: collapse;

    td,th {
      padding: 5px;
      border: 1px solid #e5e9ee;
    }
    .searchCell{
      border: none;
    }
    .searchField {
      position: relative;
      text-align: left;
      margin-top: 15px;

      .prompt {
        height: 26px;
        width: 200px;
        padding: 5px 24px 5px 10px;
        outline: none;
        border: 1px solid #8ca8d0;
        border-radius: 14px;
      }

      .searchIcon {
        position: absolute;
        padding: 12px;
        left: 205px;
      }

    }

    i.removeIcon {

    }
  }
}